.header {
    padding: 2rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    background: linear-gradient(270deg, #5F72BE, #9921E8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
}